.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginCard {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.25rem;
}